In [1]:
v = "otro texto"
n = 10
print("Un texto",v,"y un número", n)

Un texto otro texto y un número 10

In [2]:
#formateo de escritura (Format) con 2 llaves
c = "Un texto {} y un número {}".format(v,n)
c

'Un texto otro texto y un número 10'

In [3]:
print(c)

Un texto otro texto y un número 10

In [4]:
print("Un texto {0} y un número {1}".format(v,n))

Un texto otro texto y un número 10

In [5]:
print("Un texto {texto} y un número {numero}".format(texto=v,numero=n))

Un texto otro texto y un número 10

In [6]:
print("{v},{v},{v}".format(v=v))

otro texto,otro texto,otro texto

In [2]:
#Alinear texto (30 caracteres a la derecha)
print("{:>30}".format("palabra"))

                       palabra

In [3]:
#Alinear texto (20 caracteres a la izquierda)
print("{:30}".format("palabra"))

palabra

In [4]:
#Alinear texto (30 caracteres al centro)
print("{:^30}".format("palabra"))

           palabra

In [5]:
print("{:.3}".format("palabra")) #Truncamiento a 3 caracteres

pal

In [6]:
#Alinear texto (30 caracteres a la derecha) con truncam,iento de 3
print("{:>30.3}".format("palabra"))

                           pal

In [2]:
# Formateo de numeros enteros, rellenados con espacios (que se llenen con 0)
print("{:4d}".format(10)) #alineado a los 4 digitos (rellena con espacio a la izquierda)
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000

In [3]:
# Formateo de numeros enteros, rellenados con espacios (que se llenen con 0)
print("{:04d}".format(10)) #alineado a los 4 digitos (rellena con 0 a la izquierda), por el :04d
print("{:04d}".format(100))
print("{:04d}".format(1000))

0010
0100
1000

In [6]:
#formateo de numeros flotantes, rellenados con espacio
print("{:7.3f}".format(3.1415926)) #.3f => despues del punto, 3 flotantes, y con el 7, decimos q son 7 caracteres
print("{:7.3f}".format(153.21))

  3.142
153.210

In [7]:
#formateo de numeros flotantes, rellenados con 0
print("{:07.3f}".format(3.1415926)) #.3f => despues del punto, 3 flotantes, y con el 7, decimos q son 7 caracteres
print("{:07.3f}".format(153.21))

003.142
153.210