In [1]:
conjunto = set()

In [2]:
conjunto

set()

In [6]:
# para conjunto con { } a diferencia de [] qes la tupla
conjunto = {1,2,3}

In [7]:
conjunto

{1, 2, 3}

In [8]:
conjunto.add(4)

In [9]:
conjunto

{1, 2, 3, 4}

In [10]:
# lo ordena segun el numero, en este caso, el 0 lo podra de primero
conjunto.add(0)

In [11]:
conjunto

{0, 1, 2, 3, 4}

In [12]:
conjunto.add('H')

In [13]:
conjunto

{0, 1, 2, 3, 4, 'H'}

In [14]:
conjunto.add('A')

In [15]:
conjunto.add('Z')

In [17]:
# Aunque se ve un orden aparente, en realidad no lo tiene, por eso son listas desordenadas. 
conjunto

{0, 1, 2, 3, 4, 'A', 'H', 'Z'}

In [18]:
grupo = {'Hector', 'Juan', 'Mario'}

In [19]:
'Hector' in grupo

True

In [20]:
'Maria' in grupo

False

In [21]:
'Hector' not in grupo

False

In [22]:
#No pueden haber elementos duplicados:
test = {'Hector','Hector'}

In [23]:
test

{'Hector'}

In [24]:
#ejemplo: dejando unicos aprovechando q los conjuntos no tienen duplicados
l = [1,2,3,3,2,1]
l

[1, 2, 3, 3, 2, 1]

In [25]:
c = set(l)

In [26]:
c

{1, 2, 3}

In [27]:
l = list(c)

In [28]:
l

[1, 2, 3]

In [29]:
l = [1,2,3,3,2,1]

In [30]:
l = list(set(l))

In [31]:
l

[1, 2, 3]

In [32]:
s = "Al pan y al vino vino"
set(s)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}